
.center{
text-align: center;


}
/*-------------------------------------PRESETS-----------------------------*/

#flex-text{
    font-size:10px;
    font-family: cursive
        
}

#SpaceWin{
	background-image:linear-gradient(-45deg,#378fa0,#160b2a);
	
	width:100vw;
	padding-top:100vh; 
	position:relative;
}

#Header{
	position:absolute;
	background-color: rgba(255,255,255,0.35);
	width:100%;
	z-index:9;
	margin:0;
	top:97vh


}

#Circle1{
	position:absolute;
	left:10%;
	top:20%;
	background-image:linear-gradient(-90deg,#d1953c,#b7380b);
	width:25%;
	padding-bottom:25% ;
	border-radius:50%; 
	z-index:3;

}

#Circle2{
	position:absolute;
	left:55%;
	top:30%;
	background-image:linear-gradient(-180deg,#6aed9e,#134810);
	width:35%;
	padding-bottom:35% ;
	border-radius:50%; 
	z-index:3;

}

#Circle3{
    
	position:absolute;
	left:25%;
	top:60%;
	background-image:linear-gradient(90deg,#c2538a,#55217a);
	width:20%;
	padding-bottom:20% ;
	border-radius:50%; 
	z-index:3;

}

#InfoHub{
    position:absolute;
    left:27vw;
    top:-33vw;
    padding:1vw;
    width:100px;
    height:25px;
    border-radius:5%;
    background-color: rgba(162, 90, 29, 0.3);
    font-size:3vw;
    font-family:sans-serif;
    justify-content: space-around; 
    color:white;
    visibility:hidden;
    z-index:11;
    
}

 #Circle1:hover > #InfoHub{
        visibility:visible;
    }

#InfoLab{
    position:absolute;
    left:-20px;
    top:105px;
    padding:1vw;
    width:120px;
    height:135px;
    border-radius:5%;
    background-color: rgba(71, 18, 124, 0.26);
    font-size:3vw;
    font-family:sans-serif;
    justify-content: space-around; 
    color:white;
    visibility:hidden;
    z-index:12;
    
}

 #Circle3:hover > #InfoLab{
        visibility:visible;
    }



#InfoSchool{
    position:absolute;
    left:12px;
    top:150px;
    padding:0.5vh;
    width:120px;
    height:135px;
    border-radius:5%;
    background-color:rgba(18, 124, 34, 0.26);
    font-size:12px;
    font-family:sans-serif;
    justify-content: space-around; 
    color:white;
    visibility:hidden;
    z-index:12;
    
}

 #Circle2:hover > #InfoSchool{
        visibility:visible;
    }
/*-------------------------------------PRESETS-----------------------------*/



/*-------------------------------------RESPONSIVE WINDOW-----------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


	#Circle1{
	position:absolute;
	left:10%;
	top:20%;
	width:25%;
	padding-bottom:25% ;
	border-radius:50%; 
	}

	#Circle2{
	position:absolute;
	left:55%;
	top:30%;
	width:35%;
	padding-bottom:35% ;
	border-radius:50%; 
	}

	#Circle3{
	position:absolute;
	left:26%;
	top:60%;
	background-image:linear-gradient(90deg,#c2538a,#55217a);
	width:20%;
	padding-bottom:20% ;
	border-radius:50%; 
	z-index:3;

}
    #InfoHub{
    left:15vh;
    top:-130px;
    width:240px;
    height:150px;
    font-size:12px;
    
}
    
    #InfoLab{
    left:-20px;
    top:16vh;
    padding:0.5vh;
    width:120px;
    height:135px;
    font-size:12px;
    
}
    
    #InfoSchool{
    left:12px;
    top:29vh;
    padding:0.5;
    width:120px;
    height:135px;
    font-size:12px;
    
}


   
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


	#Circle1{
	position:absolute;
	left:10%;
	top:20%;
	width:20%;
	padding-bottom:20% ;
	border-radius:50%; 
	}

	#Circle2{
	position:absolute;
	left:55%;
	top:30%;
	width:30%;
	padding-bottom:30% ;
	border-radius:50%; 
	}

	#Circle3{
	position:absolute;
	left:27%;
	top:60%;
	background-image:linear-gradient(90deg,#c2538a,#55217a);
	width:15%;
	padding-bottom:15% ;
	border-radius:50%; 
	
}
    
    #InfoHub{
    left:17vw;
    top:-135px;
    width:240px;
    height:150px;
    font-size:12px;
    
}
    
    #InfoLab{
    left:-20px;
    top:16vh;
    padding:0.5vh;
    width:120px;
    height:135px;
    font-size:12px;
    
}
    
    #InfoSchool{
    left:12px;
    top:35vh;
    padding:0.5;
    width:200px;
    height:93px;
    
}
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#Circle1{
	position:absolute;
	left:10%;
	top:20%;
	width:17%;
	padding-bottom:17% ;
	border-radius:50%; 
	}

	#Circle2{
	position:absolute;
	left:55%;
	top:30%;
	width:27%;
	padding-bottom:27% ;
	border-radius:50%; 
	}

	#Circle3{
	position:absolute;
	left:28%;
	top:60%;
	background-image:linear-gradient(90deg,#c2538a,#55217a);
	width:12%;
	padding-bottom:12% ;
	border-radius:50%; 
	

}
     #InfoHub{
    left:17vw;
    top:-130px;
    width:240px;
    height:150px;
    font-size:12px;
    
}
    
     #InfoLab{
    left:-20px;
    top:16vh;
    padding:0.5vh;
    width:120px;
    height:135px;
    font-size:12px;
    
}
     #InfoSchool{
    left:12px;
    top:44vh;
    padding:0.5;
    width:200px;
    height:93px;
    
}
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #Circle1{
	position:absolute;
	left:10%;
	top:20%;
	width:12%;
	padding-bottom:12% ;
	border-radius:50%; 
	}

	#Circle2{
	position:absolute;
	left:60%;
	top:30%;
	width:22%;
	padding-bottom:22% ;
	border-radius:50%; 
	}

	#Circle3{
	position:absolute;
	left:30%;
	top:60%;
	background-image:linear-gradient(90deg,#c2538a,#55217a);
	width:10%;
	padding-bottom:10%;
	border-radius:50%; 
	
}
    
    #InfoHub{
    left:17vw;
    top:-130px;
    width:240px;
    height:150px;
    font-size:12px;
    
}
    
     #InfoLab{
    left:-20px;
    top:16vh;
    padding:0.5vh;
    width:120px;
    height:135px;
    font-size:12px;
    
}
   
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

#Circle1{
	position:absolute;
	left:10%;
	top:20%;
	width:12%;
	padding-bottom:12% ;
	border-radius:50%; 
	}

	#Circle2{
	position:absolute;
	left:65%;
	top:30%;
	width:22%;
	padding-bottom:22% ;
	border-radius:50%; 
	}

	#Circle3{
	position:absolute;
	left:35%;
	top:60%;
	background-image:linear-gradient(90deg,#c2538a,#55217a);
	width:10%;
	padding-bottom:10% ;
	border-radius:50%; 
	

}
    
     #InfoHub{
    left:17vw;
    top:-130px;
    width:300px;
    height:150px;
    font-size:12px;
    
}
    
     #InfoLab{
    left:-140px;
    top:14vh;
    padding:0.5vh;
    width:120px;
    height:135px;
    font-size:12px;
    
}
    
    #InfoSchool{
    left:12px;
    top:48vh;
    padding:0.5;
    width:200px;
    height:93px;
    
}
    
} 
/*-------------------------------------RESPONSIVE WINDOW-----------------------------*/


